*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(75,14,154,1) 35%, rgba(0,212,255,1) 100%);
    font-family: Arial, sans-serif;
}

.former{
    width: 24% !important;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    margin-top: 120px;
}

.btn-danger{
    width: 100%;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(75,14,154,1) 35%, rgba(0,212,255,1) 100%);
}

.form-control{
    color: rgba(0, 0, 0, .87);
    box-shadow: none !important;
}

h4{
    font-size: 1.5rem;
    font-weight: 700;
}

.form-label{
    font-weight: 550;
}
#Jordan{
    width: 22% !important;
 border-radius: 20px;
}

@media only screen and (max-width:600px) {
    form{
        width: 100% !important;
    }
}
